[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
apispec = "*"
apispec-webframeworks = "*"
marshmallow = "*"
swagger-ui-py = "*"

[dev-packages]
pep8 = "*"
bandit = "*"
flake8 = "*"

[requires]
python_version = "3.9"
